<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Thomas</title>
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
  <header>
    <nav>
      <ul>
      	<li><a href="/">home</a></li>
        <li><a href="/cpu">look cpu</a></li>
        <li><a href="/storage">get storage</a></li>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>